{{template "../public/page_header.html" .}}
{{template "../public/banner.html" .}}
<script type="text/javascript" src="/static/backend/js/jqPaginator.js"></script>
<link rel="stylesheet" href="/static/backend/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/static/frontend/css/seckill.css">
<!-- start 单品 -->
<div class="singleproduct center">
    <div class="main center mb20">
        <div class="seckill">
            <div class="seckill-head"><h1>限时秒杀</h1></div>
        {{/*<img src="../../../static/public/img/xsqg.jpg">*/}}
            <div class="loading" style="display: none;">
                <div class="loader"></div>
            </div>
            <div style="">
                <div class="container">
                    <div class="seckill-banner">
                        <div class="container relative">
                            <ul>
                                <li class="active"><a href="javascript:void(0);"
                                                      data-log_code="bpm=57.181.3586816.217&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                                      data-settrack="true"
                                                      onclick="_msq.push(['trackEvent','bpm=57.181.3586816.217&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0);','21d6858364a4cb1d-127e971db0409761','&quot;&quot;']);"
                                                      stat_exposure="true"><em>
                                    14:00
                                </em><span><em>抢购中</em><div>距结束 04:36:04</div></span></a></li>
                                <li class=""><a href="javascript:void(0);"
                                                data-log_code="bpm=57.181.3586816.218&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                                data-settrack="true"
                                                onclick="_msq.push(['trackEvent','bpm=57.181.3586816.218&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0);','21d6858364a4cb1d-2ba427d2d54db267','&quot;&quot;']);"
                                                stat_exposure="true"><em>
                                    20:00
                                </em><span>
                即将开始
            </span></a></li>
                                <li class=""><a href="javascript:void(0);"
                                                data-log_code="bpm=57.181.3586816.219&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                                data-settrack="true"
                                                onclick="_msq.push(['trackEvent','bpm=57.181.3586816.219&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0);','21d6858364a4cb1d-87c8b916c46ecbb7','&quot;&quot;']);"
                                                stat_exposure="true"><em>
                                    22:00
                                </em><span>
                即将开始
            </span></a></li>
                                <li class=""><a href="javascript:void(0);"
                                                data-log_code="bpm=57.181.3586816.220&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                                data-settrack="true"
                                                onclick="_msq.push(['trackEvent','bpm=57.181.3586816.220&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0);','21d6858364a4cb1d-849e5c107cbcf9ad','&quot;&quot;']);"
                                                stat_exposure="true"><em>
                                    00:00
                                </em><span>
                明日开始
            </span></a></li>
                                <li class=""><a href="javascript:void(0);"
                                                data-log_code="bpm=57.181.3586816.221&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                                data-settrack="true"
                                                onclick="_msq.push(['trackEvent','bpm=57.181.3586816.221&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0);','21d6858364a4cb1d-96cbdf5ad38c1bd2','&quot;&quot;']);"
                                                stat_exposure="true"><em>
                                    10:00
                                </em><span>
                明日开始
            </span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="seckill-con">
                        <div class="container">
                            <ul class="clearfix">
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2194500031"
                                                            data-log_code="bpm=57.181.3586818.1&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.1&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2194500031','21d6858364a4cb1d-d98441cd69815ae1','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/adbb766892dca73ae8619e55e0064a2c.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/adbb766892dca73ae8619e55e0064a2c.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="小米无线鼠标 Lite 黑色"
                                                                                             class="name">小米无线鼠标 Lite 黑色</span><span
                                            class="desc">简约设计，轻盈握感</span><!----><span class="price">29.00元
                <del>39元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2194500031" data-id="2194500031"
                                       data-log_code="bpm=57.181.3586824.1&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.1&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2194500031','21d6858364a4cb1d-06047319c9c99fd8','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2194900021"
                                                            data-log_code="bpm=57.181.3586818.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2194900021','21d6858364a4cb1d-8664bf373c5eceab','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/fa9e63f98d3d27cae31dada4978c3c75.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/fa9e63f98d3d27cae31dada4978c3c75.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="米家石英表经典版 黑色"
                                                                                             class="name">米家石英表经典版 黑色</span><span
                                            class="desc">现代与经典融合，时尚与文艺兼具</span><!----><span class="price">169.00元
                <del>199元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2194900021" data-id="2194900021"
                                       data-log_code="bpm=57.181.3586824.2&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.2&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2194900021','21d6858364a4cb1d-e63cc9555a98e899','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2203300006"
                                                            data-log_code="bpm=57.181.3586818.3&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.3&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2203300006','21d6858364a4cb1d-8937f34573df72b5','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aa508195180ba401b3963b4ffd86e2e4.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aa508195180ba401b3963b4ffd86e2e4.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span
                                            title="RedmiBook Air 13 I5/8G/512G/2.5K100%sRGB 灰色" class="name">RedmiBook Air 13 I5/8G/512G/2.5K100%sRGB 灰色</span><span
                                            class="desc">轻盈便携 | 轻松办公</span><!----><span class="price">4499.00元
                <del>4899元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2203300006" data-id="2203300006"
                                       data-log_code="bpm=57.181.3586824.3&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.3&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2203300006','21d6858364a4cb1d-d586c12cd672c5f4','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2200600037"
                                                            data-log_code="bpm=57.181.3586818.4&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.4&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2200600037','21d6858364a4cb1d-816d5f4f3ed2a6cc','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a3ad464ede7f171010e14013166e0da4.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a3ad464ede7f171010e14013166e0da4.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span
                                            title="小米移动电源3 10000mAh超级闪充版（50W）​ 黑色" class="name">小米移动电源3 10000mAh超级闪充版（50W）​ 黑色</span><span
                                            class="desc">大容量，超级闪充</span><!----><span class="price">179.00元
                <del>249元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2200600037" data-id="2200600037"
                                       data-log_code="bpm=57.181.3586824.4&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.4&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2200600037','21d6858364a4cb1d-3066d34912c3a2e4','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-goods"><a href="javascript:void(0)"
                                                          data-log_code="bpm=57.181.3586818.5&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                          class="seckill-box" data-settrack="true"
                                                          onclick="_msq.push(['trackEvent','bpm=57.181.3586818.5&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','javascript:void(0)','21d6858364a4cb1d-ef77a77333157f34','&quot;&quot;']);"
                                                          stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/e7ec801fd82c2e2f2728cdc1dd5098ee.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/e7ec801fd82c2e2f2728cdc1dd5098ee.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="米家魔方转换器 有线版"
                                                                                             class="name">米家魔方转换器 有线版</span><span
                                            class="desc">方寸之间，能量无限</span><!----><span class="price">54.90元
                <del>59元</del></span><!----></span></div>
                                    <a href="javascript:void(0)" data-id="2193800006"
                                       data-log_code="bpm=57.181.3586824.5&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.5&amp;cdm=0.0.0.0&amp;uni=&amp;next=','javascript:void(0)','21d6858364a4cb1d-ea85aa033de63dfa','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2192100039"
                                                            data-log_code="bpm=57.181.3586818.6&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.6&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2192100039','21d6858364a4cb1d-e59314f94629e18b','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/0f7daf198ff627a0ac107923ba16ddab.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/0f7daf198ff627a0ac107923ba16ddab.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="米家护颈记忆绵枕 灰色"
                                                                                             class="name">米家护颈记忆绵枕 灰色</span><span
                                            class="desc">高低曲线承托，睡眠更自在</span><!----><span class="price">79.00元
                <del>99元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2192100039" data-id="2192100039"
                                       data-log_code="bpm=57.181.3586824.6&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.6&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2192100039','21d6858364a4cb1d-20288d986d296554','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2202600024"
                                                            data-log_code="bpm=57.181.3586818.7&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.7&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2202600024','21d6858364a4cb1d-10621c073005ca07','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3ec35a9d36a0a75bd899b9401658d56c.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3ec35a9d36a0a75bd899b9401658d56c.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="日常元素抽纸 青春版 24包/箱"
                                                                                             class="name">日常元素抽纸 青春版 24包/箱</span><span
                                            class="desc">精选原生竹浆，健康环保</span><!----><span class="price">27.90元
                <del>32.9元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2202600024" data-id="2202600024"
                                       data-log_code="bpm=57.181.3586824.7&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.7&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2202600024','21d6858364a4cb1d-c6630c4e602ee112','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2200300009"
                                                            data-log_code="bpm=57.181.3586818.8&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.8&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2200300009','21d6858364a4cb1d-6009304717d8f835','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/2fa0ef87c5af799501c80368a9d97b08.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/2fa0ef87c5af799501c80368a9d97b08.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="米家手自一体电动螺丝刀 黑色"
                                                                                             class="name">米家手自一体电动螺丝刀 黑色</span><span
                                            class="desc">小巧有力，得心应手</span><!----><span class="price">129.00元
                <del>149元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2200300009" data-id="2200300009"
                                       data-log_code="bpm=57.181.3586824.8&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.8&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2200300009','21d6858364a4cb1d-c10a81aa4c8c304b','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2194500052"
                                                            data-log_code="bpm=57.181.3586818.9&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.9&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2194500052','21d6858364a4cb1d-d4faf045ea288ff5','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/2c2c69389bb90b389173903cdec03ac6.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/2c2c69389bb90b389173903cdec03ac6.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span
                                            title="RedmiBook 13 i5 8G 512G SSD MX250 2G 银" class="name">RedmiBook 13 i5 8G 512G SSD MX250 2G 银</span><span
                                            class="desc">让高性能全面展现</span><!----><span class="price">3999.00元
                <del>4799元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2194500052" data-id="2194500052"
                                       data-log_code="bpm=57.181.3586824.9&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.9&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2194500052','21d6858364a4cb1d-2ff60e0fca9f9e47','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2193800026"
                                                            data-log_code="bpm=57.181.3586818.10&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.10&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2193800026','21d6858364a4cb1d-7ed86e8213b726ff','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aaa8d4ef708e89f9063819a04a629c2d.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aaa8d4ef708e89f9063819a04a629c2d.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="小米真无线蓝牙耳机 Air 2 白色"
                                                                                             class="name">小米真无线蓝牙耳机 Air 2 白色</span><span
                                            class="desc">智能真无线，轻松舒适戴</span><!----><span class="price">299.00元
                <del>399元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2193800026" data-id="2193800026"
                                       data-log_code="bpm=57.181.3586824.10&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.10&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2193800026','21d6858364a4cb1d-24ffc1927b446bb5','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2202900024"
                                                            data-log_code="bpm=57.181.3586818.11&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.11&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2202900024','21d6858364a4cb1d-53f3e382cad0d272','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3df56c6e91dddea12136f8660efcb4dc.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3df56c6e91dddea12136f8660efcb4dc.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="米家随手吸尘器 白色"
                                                                                             class="name">米家随手吸尘器 白色</span><span
                                            class="desc">干净随手吸</span><!----><span class="price">229.00元
                <del>249元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2202900024" data-id="2202900024"
                                       data-log_code="bpm=57.181.3586824.11&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.11&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2202900024','21d6858364a4cb1d-899c1e0a0a3e8b6d','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2192300005"
                                                            data-log_code="bpm=57.181.3586818.12&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.12&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2192300005','21d6858364a4cb1d-4312ea6cdc72d19f','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/13a7a5242e32431bd84c78451910df1b.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/13a7a5242e32431bd84c78451910df1b.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span
                                            title="Redmi全自动波轮洗衣机1S 8kg 灰色"
                                            class="name">Redmi全自动波轮洗衣机1S 8kg 灰色</span><span
                                            class="desc">小身材大容量，可预约</span><!----><span class="price">799.00元
                <del>899元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2192300005" data-id="2192300005"
                                       data-log_code="bpm=57.181.3586824.12&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.12&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2192300005','21d6858364a4cb1d-8999fa79a4a45484','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2164700026"
                                                            data-log_code="bpm=57.181.3586818.13&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.13&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2164700026','21d6858364a4cb1d-ccf9911bb16ebfb8','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/d20ef102e2ec76b4ad10e2d118e42a97.jpg"
                                            src="//cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/d20ef102e2ec76b4ad10e2d118e42a97.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="8H多功能护颈枕U1 混灰色"
                                                                                             class="name">8H多功能护颈枕U1 混灰色</span><span
                                            class="desc">乳胶颗粒填充 ，舒适入睡</span><!----><span class="price">69.00元
                <del>79元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2164700026" data-id="2164700026"
                                       data-log_code="bpm=57.181.3586824.13&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.13&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2164700026','21d6858364a4cb1d-a805227ae8ddc7f7','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2194100044"
                                                            data-log_code="bpm=57.181.3586818.14&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.14&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2194100044','21d6858364a4cb1d-e56eb2ae89f3e0f7','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/58710f6d2874d946980bebbc835822ed.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/58710f6d2874d946980bebbc835822ed.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="inFace黑头仪"
                                                                                             class="name">inFace黑头仪</span><span
                                            class="desc">吸净黑头 高效不伤肤</span><!----><span class="price">109.00元
                <del>149元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2194100044" data-id="2194100044"
                                       data-log_code="bpm=57.181.3586824.14&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.14&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2194100044','21d6858364a4cb1d-2b9aae66d7db5295','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2194100059"
                                                            data-log_code="bpm=57.181.3586818.15&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.15&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2194100059','21d6858364a4cb1d-fa222e796ca0b0a0','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aa10314c1a35854254b0c96f10ae758b.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/aa10314c1a35854254b0c96f10ae758b.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="脊安适 颈部按摩器 护颈仪G2"
                                                                                             class="name">脊安适 颈部按摩器 护颈仪G2</span><span
                                            class="desc">恒温热敷 米家APP操控 3大按摩手法</span><!----><span class="price">299.00元
                <del>399元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2194100059" data-id="2194100059"
                                       data-log_code="bpm=57.181.3586824.15&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.15&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2194100059','21d6858364a4cb1d-4bb017830c94a50a','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                                <li class="item-seckill"><a href="//www.mi.com/buy/detail?product_id=2203200079"
                                                            data-log_code="bpm=57.181.3586818.16&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64"
                                                            class="seckill-box" data-settrack="true"
                                                            onclick="_msq.push(['trackEvent','bpm=57.181.3586818.16&amp;cdm=0.0.0.0&amp;uni=&amp;next=6.64','//www.mi.com/buy/detail?product_id=2203200079','21d6858364a4cb1d-d76ec5bac58c0fd9','&quot;&quot;']);"
                                                            stat_exposure="true"></a>
                                    <div class="item-box"><span class="img-con"><img
                                            data-src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a0e9c2c6bd071fbc5edcc1d914cd6904.jpg"
                                            src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/a0e9c2c6bd071fbc5edcc1d914cd6904.jpg"
                                            lazy="loaded"></span><span class="pro-con"><span title="麦瑞克口袋筋膜枪nano 黑色"
                                                                                             class="name">麦瑞克口袋筋膜枪nano 黑色</span><span
                                            class="desc">360g纤巧筋膜枪 可随身携带的专属口袋按摩师</span><!----><span class="price">429.00元
                <del>599元</del></span><!----></span></div>
                                    <a href="//www.mi.com/buy/detail?product_id=2203200079" data-id="2203200079"
                                       data-log_code="bpm=57.181.3586824.16&amp;cdm=0.0.0.0&amp;uni=&amp;next="
                                       class="btn btn-green btn-small btn-primary" data-settrack="true"
                                       onclick="_msq.push(['trackEvent','bpm=57.181.3586824.16&amp;cdm=0.0.0.0&amp;uni=&amp;next=','//www.mi.com/buy/detail?product_id=2203200079','21d6858364a4cb1d-9a196c29f26e1926','&quot;&quot;']);"
                                       stat_exposure="true">
                                        登录后抢购
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div><!----></div>
            <div class="container notic">
                *小米秒杀活动规则：
                <br>1.秒杀商品是否参加活动、最终秒杀成功的商品，以订单结算页显示为准，活动包括但不限于优惠券、赠品、满减、满赠等；<br>
                2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br>
                3.秒杀价不含运费，最终以订单结算页价格为准；<br>
                4.订单中商品的数量、颜色、型号等，以订单结算页为准。<br>
                温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，如您发现活动商品标价或促销信息有异常，请您立即联系小米客服，以便我们及时补正。
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!-- end 单品 -->
<script>
    $(function () {
        $('#pagination').jqPaginator({
            totalPages: {{.totalPages}},
            visiblePages: 10,
            currentPage: {{.page}},
            onPageChange: function (num, type) {
                console.log(num, type)
                if (type == "change") {
                    location.href = "/category_{{.curretProductCate.Id}}.html?page=" + num;
                }
            }
        });
    })
</script>
{{template "../public/page_footer.html" .}}
</body>
</html>